.aboutTop {
  width: 100%;
  height: 40vh;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  margin-bottom: 5%;
}

.container {
  height: fit-content;
  padding: 20px 40px 40px;
  cursor: pointer;
  display: flex;
  border-radius: 0.2em;
justify-content: center;
}
.container-image {
    height: 20rem;
    width: 25rem;
    margin: 30px 30px 30px 0;
    float: left;
  }
.container-text {
  width:50%;
  display: inline;
  font-size: larger;
  font-weight: 200;
  text-indent: 1.5em;
  text-align: justify;
  line-height: 2.5em; 
  }
.star-Rate{
  margin-bottom: 4rem;
}
.rate{
  width: 250px;
}
.star{
  width: 200px;
}