@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;400&display=swap');

/*   border radius */

body{
  font-family: 'Kanit', sans-serif;
}

*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 20rem));
  gap: 2rem;
  justify-content: center;
  margin-bottom: 5%;
}

.card {
  margin-top: 20%;
  height: 450px;
  overflow: hidden;
  border-radius: 0.2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-right: 10%;

} 
.card-body{
  height:fit-content;
}

.card-image {
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

.card-title{
  font-size: 400;
}
.card-description{
  font-size: medium;
  color:rgba(255, 255, 255, 0.836);
}
.card-price{
  font-size: 40px;
  color: darkred;
}
  
