.self-contact {
  width: 100%;
  height: 90vh;
  display: flex;
}

.self-contact .leftSide {
  height: 100%;
  flex: 50%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.self-contact .rightSide {
  height: 100%;
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #19191b;
}

.self-contact .rightSide h1 {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 50px;
  margin-left: 30px;
  color: rgba(255, 255, 255, 0.873);
}

.socialMedia svg {
  margin: 20px;
  font-size: 100px;
  cursor: pointer;
}

.contactbottom{
  margin-top: 5%;
  margin-bottom: 5%;
}