.footer {
  width: 100%;
  height: 100px;
  background-color: #121619;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}
.footer p {
  color: white;
}
