.login {
  width: 100%;
  height: 90vh;
  display: flex;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-left: 30px;
  color: rgba(255, 255, 255, 0.873);
}

.login .leftSide {
  height: 100%;
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #162430;

}

.login .rightSide {
  height: 100%;
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #19191c;
}

