
  
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  
  .Mcard {
    margin-top: 20%;
    height: 450px;
    overflow: hidden;
    border-radius: 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-right: 10%;
     background-color: rgb(23, 22, 22);
  } 
  .Mcard-body{
    height:fit-content;
    
  }
  
  .Mcard-image {
      height: 12rem;
      width: 100%;
      object-fit: cover;
  }
  .Mcard-title{
    font-size: 30px;

  }
  .Mcard-price{
    font-size: 30px;
    color: rgb(178, 1, 1);
  }
    
  .Mcard-btn {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    height: 80px;
    width: 180px;
    font-size: 20px;
    align-self: center;
    font-family: 'Kanit', sans-serif;
    background-color: rgb(52, 42, 42);
  }
  
  .Mcard-btn:hover {
    background-color: rgb(167, 43, 43) ;
    cursor: pointer;
    transition: 0.3s ease-in;
  }